<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model='add'>
		<button v-on:click='handleBtn'>提交</button>
		<ul>
			<li v-for="item in list">{{ item }}</li>
		</ul>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				list: [],
				add: ''
			},
			methods: {
				handleBtn: function () {
					this.list.push(this.add)				
					this.add = ''
			    }
			}
		})
	</script>
</body>
</html>